* {
  background-color: rgb(40, 40, 40);
  color: #ececec;
}

.App {
  text-align: center;
}

.App .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0px;
  gap: 20px;
}

.App input {
  padding: 10px;
  border: 1px solid #ececec9a;
  border-radius: 20px;
}

.App .controls input:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.App .controls select {
  padding: 5px 7px;
  border-radius: 15px;
}

.App .controls select:focus {
  outline: none;
  background-color: rgba(113, 113, 113, 0.527);
  border: 1px solid rgb(40, 40, 40);
}
